/* line 2, ../scss/mega-menu.scss */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 21;
  text-align: center;
  height: 75px;
  color: #fff;
  padding: 0 60px !important;
  -webkit-transition: top 0.2s ease-in-out;
  -moz-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}

@media only screen and (max-width: 1169px) {
  /* line 17, ../scss/mega-menu.scss */
  body.nav-on-left.overflow-hidden {
    overflow: hidden;
  }
}
/* line 21, ../scss/mega-menu.scss */
a {
  text-decoration: none;
}

/* line 24, ../scss/mega-menu.scss */
img {
  /* make images responsive */
  max-width: 100%;
}

/* line 28, ../scss/mega-menu.scss */
input {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 300;
}

/* line 33, ../scss/mega-menu.scss */
input[type="search"]::-ms-clear {
  /* removes close icon - IE */
  display: none;
}

/* line 37, ../scss/mega-menu.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* line 41, ../scss/mega-menu.scss */
.header-wrap {
  width: 100%;
  max-width: 1170px;
  margin: auto;
}

/* line 47, ../scss/mega-menu.scss */
.wrapper {
  width: 100%;
  max-width: 1169px;
  margin: 0 auto;
}

/* -------------------------------- 

Main components 

-------------------------------- */
/* line 58, ../scss/mega-menu.scss */
.cd-main-content, .cd-main-header {
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/* line 67, ../scss/mega-menu.scss */
.cd-main-content, .cd-main-header {
  position: relative;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media only screen and (max-width: 1169px) {
  /* line 74, ../scss/mega-menu.scss */
  .cd-main-content.nav-is-visible, .cd-main-header.nav-is-visible {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
  }

  /* line 81, ../scss/mega-menu.scss */
  .nav-on-left .cd-main-content.nav-is-visible, .nav-on-left .cd-main-header.nav-is-visible {
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
  }

  /* line 88, ../scss/mega-menu.scss */
  header.sticky .cd-search-trigger::before {
    top: 18px;
  }

  /* line 91, ../scss/mega-menu.scss */
  header.sticky .cd-search-trigger::after {
    bottom: 7px;
  }
}
/* line 95, ../scss/mega-menu.scss */
.cd-main-content {
  min-height: 100vh;
  z-index: 2;
}

/* line 99, ../scss/mega-menu.scss */
.cd-main-header {
  display: table;
  height: 50px;
  z-index: 3;
}

/* line 104, ../scss/mega-menu.scss */
nav.cd-nav {
  display: table-cell;
  vertical-align: middle;
}

/* line 108, ../scss/mega-menu.scss */
.nav-is-fixed .cd-main-header {
  /* add .nav-is-fixed class to body if you want a fixed navigation on > 1170px */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

@media only screen and (min-width: 1170px) {
  /* line 116, ../scss/mega-menu.scss */
  .cd-main-header {
    height: 75px;
  }

  /* line 119, ../scss/mega-menu.scss */
  .cd-main-header:after {
    content: "";
    display: table;
    clear: both;
  }
}
/* line 125, ../scss/mega-menu.scss */
.cd-logo {
  left: 5%;
  display: table-cell;
  vertical-align: middle;
}

/* line 130, ../scss/mega-menu.scss */
.cd-logo img {
  display: block;
}

@media only screen and (max-width: 1169px) {
  /* line 134, ../scss/mega-menu.scss */
  .nav-on-left .cd-logo {
    left: auto;
    right: 5%;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 140, ../scss/mega-menu.scss */
  .cd-logo {
    left: 4em;
  }
}
/* line 144, ../scss/mega-menu.scss */
.cd-header-buttons {
  position: absolute;
  display: inline-block;
  top: 12px;
  right: 5%;
  z-index: 9999;
}

/* line 151, ../scss/mega-menu.scss */
.cd-header-buttons li {
  display: inline-block;
}

@media only screen and (max-width: 1169px) {
  /* line 155, ../scss/mega-menu.scss */
  .nav-on-left .cd-header-buttons {
    right: auto;
    left: 5%;
  }

  /* line 159, ../scss/mega-menu.scss */
  .nav-on-left .cd-header-buttons li {
    float: right;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 164, ../scss/mega-menu.scss */
  .cd-header-buttons {
    top: 18px;
    right: 4em;
  }

  /* line 168, ../scss/mega-menu.scss */
  header.sticky .cd-header-buttons {
    top: 18px;
    right: 4em;
  }
}
/* line 173, ../scss/mega-menu.scss */
.cd-search-trigger, .cd-nav-trigger {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  top: -8px;
  white-space: nowrap;
  color: transparent;
  z-index: 3;
}

/* line 184, ../scss/mega-menu.scss */
.cd-search-trigger::before, .cd-search-trigger::after {
  /* search icon */
  content: '';
  position: absolute;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 200, ../scss/mega-menu.scss */
.cd-search-trigger::before {
  /* lens */
  top: 16px;
  left: 9px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #efefef;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 212, ../scss/mega-menu.scss */
header.cd-main-header.white-bg .cd-search-trigger::before {
  border-color: #292929;
}

/* line 215, ../scss/mega-menu.scss */
.cd-search-trigger::after {
  /* handle */
  height: 2px;
  width: 6px;
  background: #efefef;
  bottom: 9px;
  right: 14px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 231, ../scss/mega-menu.scss */
header.cd-main-header.white-bg .cd-search-trigger::after {
  background: #292929;
}

/* line 234, ../scss/mega-menu.scss */
.cd-search-trigger span {
  /* container for the X icon */
  position: absolute;
  height: 100%;
  width: 100%;
  top: 2px;
  left: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 245, ../scss/mega-menu.scss */
.cd-search-trigger span::before, .cd-search-trigger span::after {
  /* close icon */
  content: '';
  position: absolute;
  display: inline-block;
  height: 2px;
  width: 22px;
  top: 50%;
  margin-top: 3px;
  left: 50%;
  margin-left: -15px;
  background: #292929;
  opacity: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

/* line 270, ../scss/mega-menu.scss */
header.sticky .cd-search-trigger span {
  top: -4px;
}

/* line 273, ../scss/mega-menu.scss */
.cd-search-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 280, ../scss/mega-menu.scss */
.cd-search-trigger span::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 287, ../scss/mega-menu.scss */
.cd-search-trigger.search-is-visible::before, .cd-search-trigger.search-is-visible::after {
  /* hide search icon */
  opacity: 0;
}

/* line 291, ../scss/mega-menu.scss */
.cd-search-trigger.search-is-visible span::before, .cd-search-trigger.search-is-visible span::after {
  /* show close icon */
  opacity: 1;
}

/* line 295, ../scss/mega-menu.scss */
.cd-search-trigger.search-is-visible span::before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* line 302, ../scss/mega-menu.scss */
.cd-search-trigger.search-is-visible span::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 309, ../scss/mega-menu.scss */
.cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 2px;
  width: 30px;
  background: #efefef;
}

/* line 317, ../scss/mega-menu.scss */
.cd-main-header.white-bg .cd-nav-trigger span, .cd-main-header.white-bg .cd-nav-trigger span::before, .cd-main-header.white-bg .cd-nav-trigger span::after {
  background: #292929;
}

/* line 320, ../scss/mega-menu.scss */
.cd-nav-trigger span {
  /* line in the center */
  position: absolute;
  top: 77%;
  right: 10px;
  margin-top: -2px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 330, ../scss/mega-menu.scss */
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  -moz-transition: -moz-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}

/* line 351, ../scss/mega-menu.scss */
.cd-nav-trigger span::before {
  /* menu icon top line */
  top: -8px;
}

/* line 355, ../scss/mega-menu.scss */
.cd-nav-trigger span::after {
  /* menu icon bottom line */
  top: 8px;
}

/* line 359, ../scss/mega-menu.scss */
.cd-nav-trigger.nav-is-visible span, .cd-main-header.white-bg .cd-nav-trigger.nav-is-visible span {
  /* hide line in the center */
  background: rgba(46, 50, 51, 0);
}

/* line 363, ../scss/mega-menu.scss */
.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: #efefef;
}

/* line 367, ../scss/mega-menu.scss */
.cd-nav-trigger.nav-is-visible span::before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}

/* line 374, ../scss/mega-menu.scss */
.cd-nav-trigger.nav-is-visible span::after {
  -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
  transform: translateX(4px) translateY(2px) rotate(-45deg);
}

@media only screen and (min-width: 1170px) {
  /* line 382, ../scss/mega-menu.scss */
  .cd-nav-trigger {
    display: none;
  }
}
/* line 386, ../scss/mega-menu.scss */
.cd-primary-nav, .cd-primary-nav ul {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 260px;
  background: #1e1e1e;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

/* line 411, ../scss/mega-menu.scss */
.cd-primary-nav a, .cd-primary-nav ul a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #a1a1a1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform, opacity;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

/* line 434, ../scss/mega-menu.scss */
.cd-primary-nav.is-hidden, .cd-primary-nav ul.is-hidden {
  /* secondary navigations hidden by default */
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

/* line 442, ../scss/mega-menu.scss */
.cd-primary-nav.moves-out > li > a, .cd-primary-nav ul.moves-out > li > a {
  /* push the navigation items to the left - and lower down opacity - when secondary nav slides in */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}

@media only screen and (max-width: 1169px) {
  /* line 452, ../scss/mega-menu.scss */
  .nav-on-left .cd-primary-nav, .nav-on-left .cd-primary-nav ul {
    right: auto;
    left: 0;
  }

  /* line 456, ../scss/mega-menu.scss */
  .cd-search-trigger span::before, .cd-search-trigger span::after {
    background: #efefef;
  }

  /* line 459, ../scss/mega-menu.scss */
  header.sticky .cd-search-trigger span {
    top: 2px;
  }
}
/* line 463, ../scss/mega-menu.scss */
.cd-primary-nav .see-all a {
  /* different style for the See all button on mobile and tablet */
  color: #efefef;
}

@media only screen and (max-width: 1169px) {
  /* line 470, ../scss/mega-menu.scss */
  .cd-primary-nav {
    /* by default .cd-primary-nav is hidden - trick for iOS devices where you can see the navigation if you pull down */
    visibility: hidden;
    -webkit-transition: visibility 0s 0.3s;
    -moz-transition: visibility 0s 0.3s;
    transition: visibility 0s 0.3s;
    padding-top: 15px;
  }

  /* line 478, ../scss/mega-menu.scss */
  .cd-primary-nav.nav-is-visible {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
  }

  /* line 484, ../scss/mega-menu.scss */
  header.sticky .cd-search {
    top: 60px;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 489, ../scss/mega-menu.scss */
  .cd-primary-nav {
    position: static;
    padding: 0 55px 0 0;
    height: auto;
    width: auto;
    float: right;
    overflow: visible;
    background: transparent;
  }

  /* line 498, ../scss/mega-menu.scss */
  .cd-primary-nav:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 503, ../scss/mega-menu.scss */
  .cd-primary-nav.moves-out > li > a {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  /* line 512, ../scss/mega-menu.scss */
  .cd-primary-nav ul {
    position: static;
    height: auto;
    width: auto;
    background: transparent;
    overflow: visible;
    z-index: 3;
  }

  /* line 520, ../scss/mega-menu.scss */
  .cd-primary-nav ul.is-hidden {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 528, ../scss/mega-menu.scss */
  .cd-primary-nav ul.moves-out > li > a {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  /* line 537, ../scss/mega-menu.scss */
  .cd-primary-nav > li {
    float: left;
    margin-left: 5px;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
  }

  /* line 545, ../scss/mega-menu.scss */
  .cd-primary-nav > li > a {
    /* main navigation buttons style */
    position: relative;
    display: inline-block;
    height: 39px;
    line-height: 39px;
    padding: 0 10px;
    color: #fff;
    overflow: visible;
    border-bottom: none;
    text-shadow: 0px 1px 0px #2c2c2c;
    -webkit-transition: color 0.3s, box-shadow 0.3s;
    -moz-transition: color 0.3s, box-shadow 0.3s;
    transition: color 0.3s, box-shadow 0.3s;
  }

  /* line 560, ../scss/mega-menu.scss */
  header.cd-main-header.white-bg .cd-primary-nav > li > a {
    color: #292929;
    text-shadow: none;
  }

  /* line 564, ../scss/mega-menu.scss */
  .cd-primary-nav > li > a:hover {
    color: #fff;
  }

  /* line 567, ../scss/mega-menu.scss */
  .cd-primary-nav > li > a.selected {
    color: #fff;
  }

  /* line 570, ../scss/mega-menu.scss */
  .cd-primary-nav .go-back, .cd-primary-nav .see-all {
    display: none;
  }

  /* line 573, ../scss/mega-menu.scss */
  .cd-primary-nav .cd-secondary-nav {
    /* dropdown menu style */
    position: absolute;
    top: 55px;
    right: -60px;
    width: 100vw;
    background: #1E1E1E;
    padding: 48px 64px;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  /* line 594, ../scss/mega-menu.scss */
  header.sticky .cd-primary-nav .cd-secondary-nav {
    top: 50px;
  }

  /* line 597, ../scss/mega-menu.scss */
  li.has-children.one-col ul.cd-secondary-nav {
    width: 20vw;
  }

  /* line 600, ../scss/mega-menu.scss */
  li.has-children.one-col ul.cd-secondary-nav li.has-children {
    width: 100%;
  }

  /* line 603, ../scss/mega-menu.scss */
  li.one-col .cd-secondary-nav {
    left: 0px;
    padding: 30px 35px;
  }

  /*.cd-primary-nav .cd-secondary-nav {
  	  right: -353px;
  }*/
  /* line 611, ../scss/mega-menu.scss */
  .cd-primary-nav .cd-secondary-nav.products-nav {
    right: -550px;
  }

  /* line 614, ../scss/mega-menu.scss */
  .cd-primary-nav .cd-secondary-nav:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 619, ../scss/mega-menu.scss */
  .cd-primary-nav .cd-secondary-nav.is-hidden {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
  }

  /* line 626, ../scss/mega-menu.scss */
  .cd-primary-nav .cd-secondary-nav > .see-all {
    /* this is the BIG See all button at the bottom of the dropdown menu */
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    overflow: hidden;
    /* reset some inherited style */
    margin: 0;
    padding: 0;
  }

  /* line 639, ../scss/mega-menu.scss */
  .cd-primary-nav .cd-secondary-nav > .see-all a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    /* reset some inherited style */
    border-bottom: none;
    margin: 0;
    padding: 0;
    -webkit-transition: color 0.2s, background 0.2s, border 0.2s;
    -moz-transition: color 0.2s, background 0.2s, border 0.2s;
    transition: color 0.2s, background 0.2s, border 0.2s;
  }

  /* line 657, ../scss/mega-menu.scss */
  .cd-primary-nav .cd-secondary-nav > .see-all a:hover {
    background: #2e3233;
    border-color: #2e3233;
    color: #ffffff;
  }

  /* line 662, ../scss/mega-menu.scss */
  .cd-primary-nav .cd-secondary-nav > li {
    /* change the height according to your needs - you can even set height: auto */
    height: 340px;
    /* here you set the number of columns - use width percentage */
    width: 14%;
    float: left;
    margin-right: 2.66%;
    border-right: 1px solid rgba(226, 227, 223, 0.1);
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  /* line 675, ../scss/mega-menu.scss */
  .cd-primary-nav .cd-secondary-nav > li:nth-child(4n+2) {
    /* +2 because we have 2 list items with display:none */
    margin-right: 0;
    border-right: none;
  }

  /* line 680, ../scss/mega-menu.scss */
  .cd-primary-nav .cd-secondary-nav > li > a {
    /* secondary nav title */
    color: #fff;
    font-weight: 400;
    font-size: 0.875rem;
    margin-bottom: .6em;
  }

  /* line 687, ../scss/mega-menu.scss */
  .cd-primary-nav .cd-secondary-nav a {
    height: 30px;
    line-height: 30px;
    padding: 0 18% 0 0;
    color: #a1a1a1;
    border-bottom: none;
    font-size: 0.75rem;
    font-weight: 400;
    text-align: left;
  }

  /* line 697, ../scss/mega-menu.scss */
  .cd-primary-nav .cd-secondary-nav a:hover {
    color: #fff;
  }

  /* line 700, ../scss/mega-menu.scss */
  .cd-primary-nav .cd-secondary-nav ul {
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }

  /* line 708, ../scss/mega-menu.scss */
  .cd-primary-nav .cd-secondary-nav ul ul {
    /* tertiary navigation */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  /* line 716, ../scss/mega-menu.scss */
  .cd-primary-nav .cd-secondary-nav ul ul.is-hidden {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  /* line 723, ../scss/mega-menu.scss */
  .cd-primary-nav .cd-secondary-nav ul ul .go-back {
    display: block;
  }

  /* line 726, ../scss/mega-menu.scss */
  .cd-primary-nav .cd-secondary-nav ul ul .go-back a {
    color: transparent;
  }

  /* line 729, ../scss/mega-menu.scss */
  .cd-primary-nav .cd-secondary-nav ul ul .see-all {
    display: block;
  }

  /* line 732, ../scss/mega-menu.scss */
  .cd-primary-nav .cd-secondary-nav .moves-out > li > a {
    /* push the navigation items to the left - and lower down opacity - when tertiary nav slides in */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  /* line 740, ../scss/mega-menu.scss */
  .cd-primary-nav .kits-nav li {
    /* set here number of columns - use width percentage */
    width: 22%;
    float: left;
    margin: 0 4% 40px 0;
  }
}
/* line 747, ../scss/mega-menu.scss */
.has-children > a, .go-back a {
  position: relative;
}

/* line 750, ../scss/mega-menu.scss */
.has-children > a::before, .has-children > a::after, .go-back a::before, .go-back a::after {
  /* arrow icon in CSS - for element with nested unordered lists */
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: inline-block;
  height: 2px;
  width: 10px;
  background: #464c4e;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 763, ../scss/mega-menu.scss */
.has-children > a::before, .go-back a::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 770, ../scss/mega-menu.scss */
.has-children > a::after, .go-back a::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media only screen and (min-width: 1170px) {
  /* line 778, ../scss/mega-menu.scss */
  .has-children > a::before, .has-children > a::after, .go-back a::before, .go-back a::after {
    background: #c9cbc4;
  }

  /* line 781, ../scss/mega-menu.scss */
  .has-children > a:hover::before, .has-children > a:hover::after, .go-back a:hover::before, .go-back a:hover::after {
    background: #fff;
  }
}
/* line 785, ../scss/mega-menu.scss */
.has-children > a {
  padding-right: 40px;
}

/* line 788, ../scss/mega-menu.scss */
.has-children > a::before, .has-children > a::after {
  /* arrow goes on the right side - children navigation */
  right: 20px;
  -webkit-transform-origin: 9px 50%;
  -moz-transform-origin: 9px 50%;
  -ms-transform-origin: 9px 50%;
  -o-transform-origin: 9px 50%;
  transform-origin: 9px 50%;
}

/* line 797, ../scss/mega-menu.scss */
.cd-primary-nav li.go-back {
  padding-top: 15px;
}

/* line 800, ../scss/mega-menu.scss */
.cd-primary-nav .go-back a {
  padding-left: 40px;
}

/* line 803, ../scss/mega-menu.scss */
.cd-primary-nav .go-back a::before, .cd-primary-nav .go-back a::after {
  /* arrow goes on the left side - go back button */
  left: 20px;
  -webkit-transform-origin: 1px 50%;
  -moz-transform-origin: 1px 50%;
  -ms-transform-origin: 1px 50%;
  -o-transform-origin: 1px 50%;
  transform-origin: 1px 50%;
}

@media only screen and (min-width: 1170px) {
  /* line 813, ../scss/mega-menu.scss */
  .has-children > a::before, .has-children > a::after {
    right: 15%;
  }

  /* line 816, ../scss/mega-menu.scss */
  .cd-primary-nav > .has-children > a {
    /* main navigation arrows on larger devices */
    padding-right: 30px !important;
  }

  /* line 820, ../scss/mega-menu.scss */
  .cd-primary-nav > .has-children > a::before, .cd-primary-nav > .has-children > a::after {
    width: 9px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: #c9cbc4;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: width 0.3s, -webkit-transform 0.3s;
    -moz-transition: width 0.3s, -moz-transform 0.3s;
    transition: width 0.3s, transform 0.3s;
  }

  /* line 834, ../scss/mega-menu.scss */
  header.cd-main-header.white-bg .cd-primary-nav > .has-children > a::before, header.cd-main-header.white-bg .cd-primary-nav > .has-children > a::after {
    background: #292929;
  }

  /* line 837, ../scss/mega-menu.scss */
  .cd-primary-nav > .has-children > a::before {
    right: 12px;
  }

  /* line 840, ../scss/mega-menu.scss */
  .cd-primary-nav > .has-children > a::after {
    right: 7px;
  }

  /* line 843, ../scss/mega-menu.scss */
  .cd-primary-nav > .has-children > a.selected::before, .cd-primary-nav > .has-children > a.selected::after {
    width: 14px;
  }

  /* line 846, ../scss/mega-menu.scss */
  .cd-primary-nav > .has-children > a.selected::before {
    -webkit-transform: translateX(5px) rotate(-45deg);
    -moz-transform: translateX(5px) rotate(-45deg);
    -ms-transform: translateX(5px) rotate(-45deg);
    -o-transform: translateX(5px) rotate(-45deg);
    transform: translateX(5px) rotate(-45deg);
  }

  /* line 853, ../scss/mega-menu.scss */
  .cd-primary-nav > .has-children > a.selected::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 860, ../scss/mega-menu.scss */
  .cd-secondary-nav > .has-children > a::before, .cd-secondary-nav > .has-children > a::after {
    /* remove arrows on secondary nav titles */
    display: none;
  }

  /* line 864, ../scss/mega-menu.scss */
  .cd-primary-nav .go-back a {
    padding-left: 20px;
  }

  /* line 867, ../scss/mega-menu.scss */
  .cd-primary-nav .go-back a::before, .cd-primary-nav .go-back a::after {
    left: 1px;
  }
}
/* line 871, ../scss/mega-menu.scss */
.cd-search {
  position: absolute;
  height: 60px;
  width: 100%;
  top: 60px;
  left: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

/* line 884, ../scss/mega-menu.scss */
.cd-main-header {
  height: 70px;
  background: #000;
}

/* line 889, ../scss/mega-menu.scss */
.cd-main-header.white-bg {
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
}

/* line 893, ../scss/mega-menu.scss */
.cd-search form {
  height: 100%;
  width: 100%;
}

/* line 897, ../scss/mega-menu.scss */
.cd-search input {
  font-family: 'Lato', sans-serif;
  border-radius: 0;
  border: none;
  background: #fff;
  height: 100%;
  width: 100%;
  padding: 0 5%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 911, ../scss/mega-menu.scss */
.cd-search input::-webkit-input-placeholder {
  color: #c9cbc4;
}

/* line 914, ../scss/mega-menu.scss */
.cd-search input::-moz-placeholder {
  color: #c9cbc4;
}

/* line 917, ../scss/mega-menu.scss */
.cd-search input:-moz-placeholder {
  color: #c9cbc4;
}

/* line 920, ../scss/mega-menu.scss */
.cd-search input:-ms-input-placeholder {
  color: #c9cbc4;
}

/* line 923, ../scss/mega-menu.scss */
.cd-search input:focus {
  outline: none;
}

/* line 926, ../scss/mega-menu.scss */
.cd-search.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

/* line 933, ../scss/mega-menu.scss */
.nav-is-fixed .cd-search {
  position: fixed;
}

@media only screen and (min-width: 1170px) {
  /* line 937, ../scss/mega-menu.scss */
  .cd-search {
    height: 75px;
    top: 0;
  }

  /* line 941, ../scss/mega-menu.scss */
  .cd-search input {
    padding: 0 125px 0 40px;
    font-size: 1.75rem;
    font-weight: 300;
    text-transform: uppercase;
  }
}
/*.cd-overlay {*/
/* shadow layer visible when navigation is active */
	/*position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 21;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-overlay.is-visible {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}*/
/* -------------------------------- 

support for no js 

-------------------------------- */
/* line 978, ../scss/mega-menu.scss */
.no-js .cd-primary-nav {
  position: relative;
  height: auto;
  width: 100%;
  overflow: visible;
  visibility: visible;
  z-index: 2;
}

/* line 986, ../scss/mega-menu.scss */
.no-js .cd-search {
  position: relative;
  top: 0;
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 1170px) {
  /* line 993, ../scss/mega-menu.scss */
  .no-js .cd-primary-nav {
    position: absolute;
    z-index: 3;
    display: inline-block;
    width: auto;
    top: 0;
    right: 150px;
    padding: 0;
  }

  /* line 1002, ../scss/mega-menu.scss */
  .no-js .nav-is-fixed .cd-primary-nav {
    position: fixed;
  }
}
